<h1>Documentaryfilm</h1>
<%= link_to "Crear nuevo documentaryfilm", new_documentaryfilm_path  %>
<br><hr>

<section>
  <div class="table-wrapper">
    <table class="alt">
      <thead>
        <tr>
          <th>Name</th>
          <th>Synopsis</th>
          <th>Director</th>
        </tr>
      </thead>
      <tbody>
        <% @documentaryfilms.each do |documentaryfilm| %>
          <tr>
            <td><%= documentaryfilm.name %></td>
            <td><%= documentaryfilm.synopsis %></td>
            <td><%= documentaryfilm.director %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
